<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Welcome - Fedis</title>
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css">
    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>
    <script src="js/index.js"></script>  
</head>
<body>



   <div class="hehe">
       <h1>Creabine</h1>
       <p>Hello, I am <span id="myname">Creabine</span>.</p>
   </div>
  <button onclick="test()">hehe</button>


</body>
</html>