<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Welcome - Fedis</title>
    
</head>
<body style="width: 400px;margin: 0 auto;margin-top: 100px;border: 1px solid blue;min-height: 600px;">



   <ul style="margin:20px 0 0 20px;line-height: 30px;">
   	<li><a href="templates/blog-list.html">blog-list.html</a></li>
   	<li><a href="templates/blog-detail.html">blog-detail.html</a></li>
   	<li><a href=""></a></li>
   	<li><a href=""></a></li>
   	<li><a href=""></a></li>
   </ul>




</body>
</html>